<% c++ #include "HomeContent.h" %>  
<% skin web_skin %>  
<% view message uses HomeContent::message %>  
<% template render() %>  
<html>  
	<head>
		<link rel="stylesheet" href="Home.css">
	</head>
	<body>  
		<h1><%= text %> World!</h1>  
	</body>  
</html>  
<% end template %>  
<% end view %>  
<% end skin %> 